@font-face {
  font-family: 'Segoe UI';
  src: url("./fonts/SegoeUI.ttf");
  font-weight: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url("./fonts/SegoeUISemibold.ttf");
  font-weight: bold;
}

body {
  font-family: "Segoe UI", sans-serif!important;
}

.form-inline .form-group {
  margin-right:4px;
}

.table-active {
  cursor: pointer;
}