@font-face {
  font-family: 'Segoe UI';
  src: url("./fonts/SegoeUI.ttf");
}

@font-face {
  font-family: 'Segoe UI Semibold';
  src: url("./fonts/SegoeUISemibold.ttf");
}

body {
  font-family: "Segoe UI", sans-serif;
}

h1 {
  font-family: "Segoe UI Semibold", sans-serif;
}

.form-inline .form-group {
  margin-right: .25em;
}

.table-active {
  cursor: pointer;
}