@font-face {
  font-family: 'Segoe UI';
  src: url("./fonts/SegoeUI.ttf");
}

@font-face {
  font-family: 'Segoe UI Semibold';
  src: url("./fonts/SegoeUISemibold.ttf");
}

body {
  font-family: "Segoe UI", sans-serif;
}

h1 {
  font-family: "Segoe UI Semibold", sans-serif;
}



.table-active {
  cursor: pointer;
}

.form-inline {

}

.small-width {
  display: none;
}

@media (max-width: 525px) {
  .small-width {
    display: block;
  }
  .large-width {
    display: none;
  }
}